<div>
  <h1 class="title">TIENDA DE PRODUCTOS DEPORTIVOS</h1>
    {{#each productsArray}}
    <ul style="margin-bottom:30px;">
      <li>Titulo: {{title}}</li>
      <li>Descripcion: {{description}}</li>
      <li>Codigo: {{code}}</li>
      <li>Precio: {{price}}</li>
      <li>status: {{status}}</li>
      <li>stock: {{stock}}</li>
      <li>Categoria: {{category}}</li>
      <li><img src="{{thumbnails}}" alt=""></li>
    </ul>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>