<h1>Lista de Productos</h1>

  {{#each product}}
  <ul style="margin-bottom:30px;">
  <li>title: {{title}}</li>
  <li>description: {{description}}</li>
  </ul>
  {{/each}}


<div>
  <h1 class="title">Datos Personales</h1>
  <ul>
    <li>title: {{title}}</li>
    <li>description: {{description}}</li>
    <li>code: {{code}}</li>
    <li>price: {{price}}</li>
    <li>status: {{status}}</li>
    <li>stock: {{stock}}</li>
    <li>category: {{category}}</li>
    <li>thumbnails: {{thumbnails}}</li>
  </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>