<div>
  <h4>LISTADO DE PRODUCTOS</h4>
  {{#each productsArray}}
    <div>
    <p>
            <li>Title: {{this.title}}</li>
            <li>  Description: {{this.description}}, </li>
            <li>Description: {{this.description}},  </li>
            <li>Code: {{this.code}},</li>
            <li>Price: {{this.price}},</li>
            <li>Status: {{this.status}},</li>
            <li>Stock: {{this.stock}},</li>
            <li>Category: {{this.category}},</li>
            <li>Thumbnails: {{this.thumbnails}}, </li>
    </p>
    </div>
  {{/each}}
</div>