
<h1>REGISTRAR NUEVO PRODUCTO</h1>
<form class= "styleForm" method="POST" action="/api/products" enctype="multipart/form-data">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title"><br>
    <label for="description">Descripción:</label>
    <textarea id="description" name="description"></textarea><br>
    <label for="code">Código:</label> 
    <input type="text" id="code" name="code"><br>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price"><br>
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock"><br>
    <label for="thumbnails">Imagen:</label>
    <input type="file" id="thumbnails" name="thumbnails" required><br>
    <input type="submit" value="Agregar producto">
</form>

<div id="cardContainer" idstyle="text-align: center;">
  {{#each products}}
  <div id={{this.id}}">
    <ul>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: {{this.price}}</p>
    <p>code: {{this.code}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Id: {{this.id}} </p>
    </ul>
  </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>